{% load static %}

<section class="container" style="background-color: #a781a9;">
    <div class="footer-content">
        <div class="footer-section about-us">
            <h3>О нас</h3>
            <p>
                Добро пожаловать в наш зоомагазин и салон груминга! Мы заботимся о здоровье и красоте ваших питомцев,
                предлагая широкий ассортимент товаров и профессиональные услуги.
            </p>
            <div class="social-links">
                <a href="#"><img src="/static/images/icons/instagram_ico.png" alt="Instagram"></a>
                <a href="#"><img src="/static/images/icons/vk_ico.png" alt="VK"></a>
            </div>
        </div>

        <div class="footer-section links">
            <h3>Полезные ссылки</h3>
            <ul>
                <li><a href="">Товары для животных</a></li>
                <li><a href="">Запись на груминг</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Часто задаваемые вопросы</a></li>
            </ul>
        </div>

        <div class="footer-section contact-info">
            <h3>Контакты</h3>
            <p><i class="fas fa-map-marker-alt"></i> Ул. Лапы и Хвосты, 1, Зооград</p>
            <p><i class="fas fa-phone"></i> +7 (123) 456-78-90</p>
            <p><i class="fas fa-envelope"></i> info@petshopgrooming.ru</p>
        </div>

        <div class="footer-section booking-promo">
            <h3>Запишитесь на груминг!</h3>
            <p>Подарите своему питомцу профессиональный уход.</p>
            <a href="" class="btn btn-outline-primary">Записаться онлайн</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Все права защищены.</p>
    </div>
</section>